apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: proxy-agent
  labels:
    app: proxy-agent
spec:
  selector:
    matchLabels:
      app: proxy-agent
  template:
    metadata:
      labels:
        app: proxy-agent
    spec:
      containers:
      - image: gcr.io/mam-nooage/agent
        # imagePullPolicy: IfNotPresent
        imagePullPolicy: Always
        name: proxy-agent
      serviceAccountName: agent-runner